# Env
.env
.env.local

# Build outputs
dist
dist-ssr
coverage/
*.tsbuildinfo

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Dependency folders
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel / Next.js / Turborepo (optional)
.vercel/
.next/
.turbo/

# VS / Windows files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
